include tox.ini
include README.md
include tutorial.md
include requirements.txt
include fabfile.py

recursive-include tests *.py
recursive-include miniprez *.css
recursive-include miniprez *.eot
recursive-include miniprez *.html
recursive-include miniprez *.jpg
recursive-include miniprez *.js
recursive-include miniprez *.md
recursive-include miniprez *.otf
recursive-include miniprez *.png
recursive-include miniprez *.svg
recursive-include miniprez *.ttf
recursive-include miniprez *.woff
recursive-include miniprez *.woff2
