/* Fix the hidding of side bars */
#webslides {
  overflow-y: visible;
  overflow-x: visible;
}

/* Substitutes for <hr> */
.line {
    border-top: 6px solid purple;
    width: 100%;
    display:block;
}

/* Clean up markdown lists */
ul {
    padding: 0;
    list-style: none;
}

ul>li {
    margin:0 0 2rem 0;
}

/* On mobile devices, headers and footers overlap text, 
   remove absolute positioning */

@media only screen and (max-device-width: 640px) {
    header,
    section footer {
	position: inherit !important;
    }
}

.left { text-align: left; }
.right { text-align: right; }


code {
    display: inline-table;
}


